<div id="calendar_card" class="card">
	<div class="center-align">
		<br>
		<span class="card-title"><h4>Your Prayer Calender</h4></span>
	</div><br>
	<div class="card-content">
		<div id='calendar'></div>
	</div>
</div>
