#header {
	margin-top: 30px;
}

#nav-mobile li a:hover{
	max-height: 64px;
}
#nav-mobile li{
	max-height: 64px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}
.inner-container{
	margin-left:30px;
	margin-right:30px;
}
#addToCart{
	color:#039be5;
}
.clickable{
	cursor: pointer;
}
#post_image{
	max-width: 235px;
	max-height: 235px;
}
#testimony_pic{
	max-height: 100px;
	max-width: 100px;
}
#readmore{
	color: #039be5;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
#side_bar{
	margin-top: 140px;
}
#side_bar a{
	color: black;
}
.material-icons{
	color: #b2b2b2 !important;
}
.glyphicon-ok{
	color: lime !important;
}
.glyphicon-remove{
	color: red !important;
}
.glyphicon-exclamation-sign{
	color: red !important;
}
body{
	background-color: #eee;
}
#cartAdd_img{
	width: 20px;
	height: 20px;
	margin-bottom: -5px;
	margin-right: 5px;
}
.fc-center h2{
	font-size: 28px;
}
.fc-day{
	border-right: none !important;
border-left: none !important;
border-top: none !important;
}
.fc-day-number{
	border-bottom: none !important;

}
